---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 110
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<exotic/'
    Priority: 1
  - Regex: '^"'
    Priority: 2
  - Regex: '^<[a-z_]+>$'
    Priority: 4
  - Regex: '.*'
    Priority: 3
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false
